* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color1: rgb(80, 119, 108);
    --color2: rgb(248, 233, 229);
    --color3: rgb(127, 86, 99);

    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 150px 1fr / 200px 1fr;
}

img {
    object-fit: cover;
}

#sidebar i {
    color: var(--color2);
}

.icon {
    display: grid;
    grid-template-columns: 1fr 7fr;   
}

#dashboard {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--color3);
    padding-bottom: 1vh;
}

.iconDiv {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar {
    background-color: var(--color1);
    color: var(--color2);
    padding: 5%;
    box-shadow: inset 0 0 20px 20px rgba(37, 69, 60, 0.3);
    
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows: 1fr 10fr;
}

#nav {
    display: flex;
    flex-direction: column;
}

.navDiv {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-top: 3vh;
}

.navDiv:first-of-type {
    padding-bottom: 3vh;
    border-bottom: 1px solid var(--color3);
}

#sidebar a {
    color: var(--color2);
    margin-left: 20px;
    font-size: 20px;
}

#header {
    background-color: var(--color2);
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template: 1fr 2fr / 3fr 2fr;
}

#search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

#searchBox {
    width: 80%;
    height: 30px;
    background-color: var(--color3);
    border-radius: 20px;
}

.headerIcon {
    color: var(--color3);
}

#user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.littleImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bigImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#hello {
    display: grid;
    grid-template: 1fr 2fr / 1fr 4fr; 
    padding: 18px 0 0 13px;
    column-gap: 30px; 
}

#helloImg {
    grid-area: 1 / 1 / 3 / 2;
    justify-self: end;
}

#helloHi {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
}

#helloName {
    grid-area: 2 / 2 / 3 / 3;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 15px;
}

#buttons button {
    background-color: var(--color1);
    color: var(--color2);
    padding: 7px 18px 7px 18px;
    border-radius: 20px;
    border: none;
}

#main-content {
    background-color: var(--color3);
    grid-area: 2 / 2 / 3 / 3;
    box-shadow: inset 0 0 20px 20px rgba(73, 38, 49, 0.3);

    border-top: 3px double var(--color2);
    border-left: 3px double var(--color2);

    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 30px;
    padding: 30px;
}

#projects {
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template: 20px 1fr / 1fr;
    gap: 30px;
}

.title {
    color: var(--color2);
}

#container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(190px, 1fr));
    overflow: auto;
    padding-right: 10px;
}

#container a {
    color: var(--color3);
    font-weight: bold;
    font-size: 15px;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.project {
    background-color: var(--color2);
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-left: 5px solid var(--color1);

    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    gap: 15px;
    padding-right: 10px;
}

.projectButtons i {
    color: black;
}

#announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 20px 1fr / 1fr;
    gap: 30px;
}

#announcementsBox {
    background-color: var(--color2);
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 8px 17px 8px 17px;
}

.announcement:not(:last-child) {
    border-bottom: 1px solid var(--color3);
}

.announcement {
    padding: 8px 0 8px 0;
}

.announcementText {
    font-size: 13px;
}

#trending {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 20px 1fr / 1fr;
    gap: 30px;
}

#trendingBox {
    background-color: var(--color2);
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 13px;
}

.trendy {
    display: grid;
    grid-template: 1fr 1fr / 1fr 4fr;
    column-gap: 10px;
    
}

.trendyImg {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
}

.trendyTitle {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
}

.trendyText {
    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
    
}
